h1 {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  input {
    margin-bottom: 10px;
  }

  /* button.close {
      margin-top: 10px;
  } */

  html, body, .app {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    z-index: 1;
  }
  .popup_inner {
    border: 4px solid #1E212F;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
  }