.container-main {
  background: #000 url(https://images.unsplash.com/photo-1517879288527-682ff596b022?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=431a25180ffd76dcb241be8c90182bb8&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  color: #fff;
  width: 100%;
  height: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.color-overlay {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  opacity: .3;
  position: absolute;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.homepage-h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: #000 1px;
  font-size: 60px;
  color: #fff;
  /* z-index: 1; */
}

body {
  background: #222222;
}

.sign-up-form {
  padding: 30px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  z-index: 1;
}

@media screen and (max-width: 320px){
  .container-main{
    max-width: 320px;
  }
}