.keen-dashboard {
  background: #171923;
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
}

.keen-dataviz {
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  box-sizing: border-box;
}
.keen-dataviz-title {
  border-bottom: 1px solid #e7e7e7;
  border-radius: 2px 2px 0 0;
  font-size: 13px;
  /* padding: 2px 10px 0; */
  text-transform: uppercase;
}
.keen-dataviz-stage {
  padding: 10px;
}

.keen-dataviz-notes {
  background: #fff;
  border-radius: 0 0 2px 2px;
  border-top: 1px solid #e7e7e7;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 11px;
  padding: 0 10px;
}

.keen-dataviz .keen-dataviz-metric {
  border-radius: 2px;
}

.keen-dataviz .keen-spinner-indicator {
  border-top-color: rgba(0, 187, 222, .4);
}

.keen-dashboard .chart-wrapper {
  background: #1E212F;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #0f0f0f;
  border: 1px 1px 1px solid #e2e2e2;
  margin-bottom: 10px;
}
.keen-dashboard .chart-wrapper .chart-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: rgb(252, 240, 207);
  /* font-size: 14px;
  font-weight: 200; */
  padding: 5px 20px;
}

.keen-dashboard .chart-wrapper .chart-stage {
  overflow: hidden;
  padding: 5px 20px;
  position: relative;
  font-weight: 300px;
  color: #B1B298;
}

.keen-dashboard .chart-wrapper .chart-notes {
  color: #B1B298;
  /* font-weight: 300; */
  font-size: 12px;
  padding: 10px;
}

.keen-dashboard .chart-wrapper .keen-dataviz,
.keen-dashboard .chart-wrapper .keen-dataviz-title,
.keen-dashboard .chart-stage .chart-title {
  border: medium none;
}

body{margin:40px;}


.btn-circle {
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

