div.card-body-buttons {
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly;
}

.keen-dashboard {
  background: #171923;
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}

.keen-dataviz {
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  box-sizing: border-box;
}
.keen-dataviz-title {
  border-bottom: 1px solid #e7e7e7;
  border-radius: 2px 2px 0 0;
  font-size: 13px;
  /* padding: 2px 10px 0; */
  text-transform: uppercase;
}
.keen-dataviz-stage {
  padding: 10px;
}

.keen-dataviz-notes {
  background: #fff;
  border-radius: 0 0 2px 2px;
  border-top: 1px solid #e7e7e7;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 11px;
  padding: 0 10px;
}

.keen-dataviz .keen-dataviz-metric {
  border-radius: 2px;
}

.keen-dataviz .keen-spinner-indicator {
  border-top-color: rgba(0, 187, 222, .4);
}

.keen-dashboard .chart-wrapper {
  background: #1E212F;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 5px 10px #0f0f0f;
  border: 1px 1px 1px solid #e2e2e2;
  margin-bottom: 10px;
  max-width: 50em;
}
.keen-dashboard .chart-wrapper .chart-title {
  color: rgb(252, 240, 207);
  padding: 5px 20px;
}

.keen-dashboard .chart-wrapper .chart-stage {
  overflow: hidden;
  padding: 5px 20px;
  position: relative;
  /* font-weight: 200px; */
  color: #B1B298;
}

.keen-dashboard .chart-wrapper .chart-notes {
  color: #B1B298;
  font-size: 12px;
  padding: 20px;
}

.keen-dashboard .chart-wrapper .keen-dataviz,
.keen-dashboard .chart-wrapper .keen-dataviz-title,
.keen-dashboard .chart-stage .chart-title {
  border: medium none;
}

.row {
  margin-top: 20px;
  margin-left: 20px;
}

.btn-circle {
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.new-pet-btn {
  width: 100%;
  padding-top: 20px;
}

.responsive {
  width:230px;
  height:330px;
}

.container-profile {
  display: flex;
  flex-direction: column;
}

.container-row {
  display: flex;
  justify-content:center;
  color: white;
  font-size: large;
}

@media screen and (max-width: 1029) {
  .col-sm-8, {
    width: 100%
  }
}

@media screen and (max-width: 1029px) and (min-width: 750px) {
  .col-sm-4 {
    width: 48%;

  }
}

@media screen and (max-width: 749px) {
  .col-sm-4 {
    width: 100%;
  }
  .row {
    margin: auto;
  }
}


