a, a:focus, a:hover, a:active {
  color: #fff;
}

h1, h2, h3 {
  font-family: "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 12px 0;
}
h1 {
  letter-spacing: .02em;
  line-height: 48px;
  margin: 12px 0;
  color: #FF9400;
  font-weight: 300;
}
h2 {
  color: #B1B298;
  font-weight: 200;
  font-size: 21px;
}
h3 {
  color: #B1B298;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -0.28px;
  line-height: 29.39px;
}

.keen-logo {
  height: 38px;
  margin: 0 15px 0 0;
  width: 150px;
}

.navbar-toggle {
  background-color: rgba(255, 0, 0, 0.972);
}
.navbar-toggle .icon-bar {
  background: #fff;
}


.navbar-nav {
  align-items: center;
}

.navbar-header {
  width: 100%;
}

.navbar-nav > li > a {
  font-size: 15px;
  font-weight: 200;
  color: #fff;
  letter-spacing: 0.03em;
  text-shadow: 0 0 2px red(0,0,0,.1);
}
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  background: transparent none;
}

.navbar-nav > li > a.navbar-btn {
  background-color: rgb(255, 255, 255);
  border: medium none;
  padding: 10px 15px;
}
.navbar-nav > li > a.navbar-btn:focus,
.navbar-nav > li > a.navbar-btn:hover {
  background-color: rgba(255,255,255,.35);
}
.navbar-collapse {
  box-shadow: none;
}

img > .pet-img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 50px;
}

.sample-item {
  margin-bottom: 24px;
}

.signup {
  float: left;
  display: inline-block;
  vertical-align: middle;
  margin-top: -6px;
  margin-right: 10px;
}

.card-body-buttons {
  margin: 10px;
}

.front-card-text {
  color: #B1B298;
  padding: 5px;
  font-weight: 100;
}

.form-container {
  color: white;
}

.btn-activity {
  background: #850927;
  background: linear-gradient(0deg, rgba(133,9,39,1) 0%, rgba(133,2,35,1) 49%, rgba(133,2,35,1) 51%, rgba(162,10,49,1) 100%);
  color: white;
  text-shadow: 0px -1px #532121;
  border-color: #850223;
  filter: brightness(100%);

}

.btn-activity:hover {
  color: #fff;
  /* background: #860a29; */
  border-color: #850223;
  filter: brightness(95%);
}

.btn-activity:focus, .btn-warning.focus {
  -webkit-box-shadow: 0 0 0 2px #85022380;
          box-shadow: 0 0 0 2px rgba(133, 2, 35, 0.5);
}
